.bg-success {
    background: linear-gradient(50deg,black,limegreen);
    color:white;
}
.bg-dark {
    background: linear-gradient(50deg,black,purple);
    color:white;
}
.bg-danger {
    background: linear-gradient(50deg,black,red);
    color:white;
}
.bg-primary{
    background: linear-gradient(50deg,black,grey);
    color:white;
}
.hello {
    color:limegreen;
}